@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.paginate{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5px !important; 
    margin-bottom: 10px;
}

.paginate li{
    width: 30px;
    height: 30px;
    text-align: center;
    border:solid 1px rgb(9, 7, 7);
    display: flex;
    margin:5px;
    align-items: center;
    justify-content: center;
}